<!--
Copyright (c) 2017 Intel Corporation
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="manager" />
  <arg name="name"                           default="tracking_nodelet" />
  <arg name="input_rgb"                      default="rgb" />
  <arg name="input_2d"                       default="detection" />
  <arg name="output"                         default="tracking" />

  <node pkg="nodelet"
       type="nodelet"
       name="$(arg name)"
       args="load object_analytics_nodelet/tracker/TrackingNodelet $(arg manager)"
       output="screen">
      <remap from="rgb"                      to="$(arg input_rgb)" />
      <remap from="detection"                to="$(arg input_2d)" />
      <remap from="tracking"                 to="$(arg output)" />
  </node>
</launch>
